[submodule "Detours"]
	path = Detours
	url = git@github.com:microsoft/Detours.git
[submodule "plog"]
	path = plog
	url = git@github.com:SergiusTheBest/plog.git
[submodule "Tribes-Ascend-SDK"]
	path = Tribes-Ascend-SDK
	url = git@github.com:karan283861/Tribes-Ascend-SDK.git
[submodule "Unreal-UFunction-Hook"]
	path = Unreal-UFunction-Hook
	url = git@github.com:karan283861/Unreal-UFunction-Hook.git
[submodule "Circular-Buffer"]
	path = Circular-Buffer
	url = git@github.com:karan283861/Circular-Buffer.git
